* {
  margin: 0;
  padding: 0;
}
.post-container {
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
  justify-content: center;
  width: 590px;
  padding: 10px;
  border: 1px solid blue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.post-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  /*for even spacing in all */
  flex: 1;
}

.user-detail {
  display: flex;
  justify-content: space-between;
  gap: 11px;
}
.user-info {
  width: 100%;
}
.cursor {
  cursor: pointer;
}
.user-img {
  width: 40px;
  height: 40px;
  border: 40px;
  cursor: pointer;
}
.post-img {
  width: 470px;
  height: 350px;
  max-width: 100%;
}

.task-btn {
  display: flex;
  margin: 10px;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}
