.sidebar1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 20px;
  /* width: 400px; */
  align-items: center;
  position: fixed;
}
.side-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  font-size: x-large;
}
.flex-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-create-post {
  border: 2px solid;
  border-radius: 10px;
  color: #1b74e4;
  cursor: pointer;
  font-size: large;

  padding: 10px;
  line-height: 48px;
  padding: 0 16px;
  text-transform: capitalize;
}

.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 15px 0;
  padding: 10px 0px;
  border-top: 1px solid #1b74e4;
  border-bottom: 1px solid #1b74e4;
  cursor: pointer;
}
.user-img {
  width: 50px;
  height: 50px;
  /* background-color: #1b74e4; */
  border-radius: 50%;
}
.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addNewPostDiv {
  position: absolute;
}

.btn-fb {
  background-color: #1877f2;
  border: none;
  font-size: 20px;
  color: #fff;
}
