.main {
  /* height: 100vh; */
  background-color: whitesmoke;
}
.signup-container {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  width: 50vw;
  gap: 10px;
  height: 100%;
  flex-wrap: wrap;
}
.signup-card {
  display: flex;
  background-color: whitesmoke;
  flex-direction: column;
  width: 100%;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.bright {
  filter: brightness(75%);
}

.signup-items {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  max-width: 400px; */
}
.signup-input-container {
  display: flex;
  flex-direction: column;
  gap: 13px;
  /* align-items: center; */
}
.signup-inputs {
  padding: 10px 15px;
  border: 1px solid grey;
  border-radius: 8px;
  margin: 10px 0;
  border-radius: 10px;
  box-sizing: border-box;
}
.signup-btn {
  padding: 10px 15px;
  margin: 10px 0;
  border: 0 solid #1b74e4;
  background-color: #1b74e4;
  color: white;
  font-size: large;
  cursor: pointer;
  border-radius: 10px;
}
.sign-in {
  text-decoration: none;
  padding: 10px 15px;
  margin: 10px 0;
  background-color: #1b74e4;
  color: white;
  font-size: large;
  cursor: pointer;
  border-radius: 10px;
}
.signup-footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* .signup-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
} */
